.Header {
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #444;
  margin: 0 -15px;
}

.Header .logo img {
  height: 15px;
  width: auto;
}
.Header .logo:hover {
  opacity: 1;
}

.Header nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.Header a {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
  padding: 3px 5px;
  transition: 0.3s;
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
}
.Header a:last-child {
  margin-right: 0;
}
.Header a:hover {
  opacity: 0.66;
}
.Header a.active {
  color: #f00000;
}