* {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  padding: 0 15px;
  width: 680px;
  border: solid rgba(0, 0, 0, 0.5);
  border-width: 0 1px 0 1px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.66);
  background-color: #fafafa;
  color: #000;
}

.App-body {
  padding: 15px 0;
}